@model Entrance_Exam
@{
    ViewData["Title"] = "deleteEntranceExamPermission";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase text-danger" style="letter-spacing:4px">Are Your Sure You Wants To Delete This Exam?</h2>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">Exam id: @Model.examId</li>
            <li class="list-group-item">Exam Name: @Model.examName</li>
            <li class="list-group-item">Exam Date: @Model.examDate</li>
            <li class="list-group-item">Exam Fee: @Model.examFee</li>
            <li class="list-group-item">Date: @Model.CreatedAt</li>

        </ul>
        <a asp-action="fetchEntranceExam" asp-controller="Admin" class="btn btn-warning my-3">Back To List</a>
        <a asp-action="deleteExam" asp-controller="Admin" asp-route-id="@Model.examId" class="btn btn-danger">Delete</a>
    </div>
    <div class="col-md-2"></div>
</div>